<nav class="navbar navbar-expand-md navbar-light bg-warning">
    <a class="navbar-brand" href="#"><span style="font-size: 3rem; color:rgb(13, 228, 78);font-weight:600 ;  font-family: Sofia,sans-serif;">P</span>laza Hotel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
       
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Rooms
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item " [routerLink]="['/superiorRooms']">Superior Rooms</a>
            <a class="dropdown-item" [routerLink]="['/deluxeRooms']">Deluxe Rooms</a>
            <a class="dropdown-item" [routerLink]="['/clubRooms']">Club Rooms</a>
            <a class="dropdown-item" [routerLink]="['/executiveSuites']">Executive Suites</a>
            <a class="dropdown-item" [routerLink]="['/metropolitanSuites']">Metropolitan Suites</a>
            <!-- <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['/rooms']">Executive Suites</a> -->
           
            
          </div>
        </li>
  
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dining
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/asian']">SAKURA - Asian Cuisine</a>
            <a class="dropdown-item" [routerLink]="['/indian']">CHUTNEY - Indian Cuisine</a>
            <a class="dropdown-item" [routerLink]="['/world']">ZING - World Cuisine</a>
            <a class="dropdown-item" [routerLink]="['/pastry']">ZING GourMET Shop - Pastry Shop</a>
            <a class="dropdown-item" [routerLink]="['/privilagecard']">The Met Card - Privilege Card</a>      
          
          </div>
        </li>
  
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Facilities
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/neoveda']">NEOVEDA SPA</a>
            <a class="dropdown-item" [routerLink]="['/swimming']">Swimming Pool</a>
            <a class="dropdown-item" [routerLink]="['/craft']">CRAFT HOUSE</a>
            <a class="dropdown-item" [routerLink]="['/business']">Business Services</a>
            <a class="dropdown-item" [routerLink]="['/travel']">Travel Services</a>  
          
          </div>
        </li>
  
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Meetings
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/crest']">CREST</a>
            <a class="dropdown-item" [routerLink]="['/companyReviews']">Сompany reviews</a>
            <a class="dropdown-item" [routerLink]="['/conclave']">CONCLAVE</a>
            <a class="dropdown-item" [routerLink]="['/garden']">GARDEN OF JOY</a>
            <a class="dropdown-item" [routerLink]="['/businessCenter']">Business Center</a>  
          
          </div>
        </li>
  
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Promotions
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/rooms']">Rooms</a>
            <a class="dropdown-item" [routerLink]="['/foodBeverage']">Food & Beverage</a>
            <a class="dropdown-item" [routerLink]="['/neovedaSpa']">neoVeda Spa</a>
                 
          </div>
        </li>     
      </ul>
      
    </div>
  </nav>
  